@media(max-width: 1300px){
    body{
        .banner{
            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@media(max-width: 750px){
    body{
        .banner{
            .siteTitle{
                h1{
                    font-size: 4em;
                }
            }
        }
        .content{
            .messageBlock{
                .messageImages{
                    width: 100% !important;
                }
            }
            .ourTeam{
                .nextMove, .prevMove{
                    button{
                        height: 60px;
                        img{
                            height: 100%;
                        }
                    }
                }
                .teamSlides{
                    width: 100%;
                    .slide{
                        width: 320px !important;
                        height: 450px !important;
                        .face{
                            width: 320px !important;
                            height: 450px !important;
                            img{
                                width: 320px !important;
                                height: auto;
                            }
                        }
                        .face2{
                            .information{
                                width: 320px !important;
                                padding: 20px;
                            }
                        }
                    }
                    .slide:hover{
                        .face2{
                            transform: translate(120px, -10px) !important;
                        }
                    }
                }
            }
        }
    }
}